<!doctype html>
<title>BizCC debug page</title>
<h1>BizCC debug page</h1>

<div style="padding-top: 16px;">
  <div>
    <textarea id="config-text" style="height: 500px; width: 450px; resize: none;" readonly></textarea>
  </div>
  <button id="button-send-reload">Reload Configuration</button>
</div>

<div style="padding-top: 16px;">
  <button id="button-send-pause">Pause Commands</button>
</div>

<div style="padding-top: 16px;">
	<label for="command-input-body">Message</label>
	<input type="text" id="command-input-body"></input>
	<label for="command-input-amount">Cheer Amount</label>
	<input type="number" id="command-input-amount"></input>
	<button id="button-send-command">Send</button>
</div>

<div id="cheerers-container" style="width: 100%; padding-top: 64px;">
	
</div>

<script type="text/javascript" src="{{ url_for('static', filename='debug.js') }}"></script>